<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting">
        <%= current_user.nickname %>
        さんのタスク一覧
      </div>
      <div class="card__wrapper">
        <%= render partial: "task", collection: @deadlines, as: "deadline" %>
      </div>
    <% else %>
      <div class="greeting">
        ログインまたは新規登録してタスクを登録してください！
      </div>
    <% end %>
  </div>
</main>