<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting">
        <%= current_user.nickname %>
        さんのタスク一覧
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: "task", collection: @deadlines, as: "deadline" %>
    </div>
  </div>
</main>